---
import { DefaultApi } from "../../api/backend/apis";
import ExamenLayout from "../../layouts/ExamenLayout.astro";
import Map from "../../components/Map.svelte";
import cookies from "../../cookies";
import AppConfig from "../../config";
import {
  Configuration as ViviendaConfiguration,
  Vivienda,
} from "../../api/backend";
import Checkout from "../../components/Checkout.svelte";
import Carousel from "../../components/Carousel.astro";
const { idCasa } = Astro.params as { idCasa: string };
const viviendaApi = new DefaultApi(
  new ViviendaConfiguration(AppConfig.viviendas)
);

let viv: Vivienda;

try {
  viv = await viviendaApi.getHouseById({ id: idCasa });
} catch (error) {
  return Astro.redirect(
    "/?" + new URLSearchParams({ danger: "Cant find house with that ID" })
  );
}

const deleteHouseURI = "/houses/delete/" + idCasa;
const editHouseURI = "/houses/edit/" + idCasa;

const mapPoint = [
    {
        coordinates: [viv?.latitude, viv?.longitude],
        text: viv?.titulo,
        open: true
    }
]


---

<ExamenLayout title={viv?.titulo}>
  <body>
    <div
      class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center bg-light"
    >
      <div class="col-md-10 p-lg-2 mx-auto">
        <h1 class="display-6 fw-normal">{viv?.titulo}</h1>
        <p class="lead fw-normal">{viv?.descripcion}</p>
        <p class="lead fw-normal">{viv?.precio} euros/night.</p>
        <p class="lead fw-normal">Owner: {viv?.user}</p>
      </div>
      <!--
      {
        userId === viv?.userId && (
          <div>
            <form action={deleteHouseURI} method="post">
              <button class="btn btn-danger" type="submit">
                Delete house
              </button>
            </form>

            <form class="pt-2" action={editHouseURI} method="post">
              <button class="btn btn-warning" type="submit">
                Edit house
              </button>
            </form>
          </div>
        )
      }
      -->
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="col-lg-7 col-sm-12">
        <Carousel urls={viv?.images} />
      </div>
    </div>
    <div class="col-12">
        <p class="lead fw-normal">{viv?.direccion}</p>
        <Map
            client:only
            origin={[viv?.latitude, viv?.longitude]}
            points={mapPoint}
        />
    </div>
  </body>
</ExamenLayout>
