---
import { DefaultApi } from "../../api/backend/apis";
import ExamenLayout from "../../layouts/ExamenLayout.astro";
import Map from "../../components/Map.svelte";
import cookies from "../../cookies";
import AppConfig from "../../config";
import {
  Configuration as UserConfiguration,
  Usuario
} from "../../api/backend";
import Checkout from "../../components/Checkout.svelte";
import Carousel from "../../components/Carousel.astro";
const { idCasa } = Astro.params as { idCasa: string };
const { idUsuario } = Astro.params as { idUsuario: string };
const userApi = new DefaultApi(
  new UserConfiguration(AppConfig.viviendas)
);

let user: Usuario;

try {
  user = await userApi.getUserById({id: idUsuario})
} catch (error) {
  return Astro.redirect(
    "/?" + new URLSearchParams({ danger: "Cant find user with that ID" })
  );
}

const deleteHouseURI = "/houses/delete/" + idCasa;
const editHouseURI = "/houses/edit/" + idCasa;

const mapPoint = [
    {
        coordinates: [user?.latitude, user?.longitude],
        text: user?.nombre,
        open: true
    }
]

const foto : string[] = [user?.foto];


---

<ExamenLayout title={user?.nombre}>
  <body>
    <div
      class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center bg-light"
    >
      <div class="col-md-10 p-lg-2 mx-auto">
        <h1 class="display-6 fw-normal">{user?.nombre}</h1>
        <p class="lead fw-normal">{user?.apellidos}</p>
        <p class="lead fw-normal">{user?.email} </p>
        <p class="lead fw-normal">{user?.direccion}</p>
      </div>
      <!--
      {
        userId === viv?.userId && (
          <div>
            <form action={deleteHouseURI} method="post">
              <button class="btn btn-danger" type="submit">
                Delete house
              </button>
            </form>

            <form class="pt-2" action={editHouseURI} method="post">
              <button class="btn btn-warning" type="submit">
                Edit house
              </button>
            </form>
          </div>
        )
      }
      -->
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="col-lg-7 col-sm-12">
        <Carousel urls={foto} />
      </div>
    </div>
    <div class="col-12">
        <p class="lead fw-normal">{user?.direccion}</p>
        <Map
            client:only
            origin={[user?.latitude, user?.longitude]}
            points={mapPoint}
        />
    </div>
  </body>
</ExamenLayout>
